.Nav-Style{height: 100px;
/* background-color: #394D6B; */
/* background-image: url('../assets/Background.jpeg'); */
color: rgb(12, 10, 10);
opacity: 1;
font-size: 30px;
padding-top: 30px;
display: flex;
flex-direction: row;
font-family: sans-serif;
font-size: 35px;
letter-spacing: 2.2px;
word-spacing: 4px;
/* margin-bottom: .25em; */
font-weight: 750;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.ulRow{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    margin-right: 10px;
    margin-left: 10px;
}

.headerName{
    display:flex;
    justify-content: flex-start;
    padding-right: 900px;
}